
.window {
  display: flex;
  height: 80%;
  width: 25%;
  border-radius: 400px;
  background: var(--day);
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  animation: var(--duration) infinite alternate windowshadow;
  animation-delay: 4s;
}

.window:after {
  position: absolute;
  display: block;
  background: var(--night);
  opacity: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: var(--duration) infinite alternate sky;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;
}
